@import "compass_twitter_bootstrap";


// COLORS ---------------------------------------------------

$orange: #e94e1b;
$brown: #693c10;
$yellow: #f9b233;
$marzipan: #f7dca8;
$green: #0b8e36;
$blue: #312783;
$red: #be1522;

$black: #000000;


// ALTERNATIVE COLORS ---------------------------------------

//$pomegranate: #f65034;
//$flame-pea: #d04521;
//$flush-orange: #fb8101;
//$golden-grass: #e0ad2a;
//$marzipan: #d8d6be;
//$coconut-cream: #f8fadf;
$blue: #96b8be;

// FONTS ----------------------------------------------------

@font-face {
    font-family: 'QuicksandBold';
    src: url('fonts/Quicksand_Bold-webfont.eot');
    src: url('fonts/Quicksand_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Bold-webfont.woff') format('woff'),
         url('fonts/Quicksand_Bold-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Bold-webfont.svg#QuicksandBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandBook';
    src: url('fonts/Quicksand_Book-webfont.eot');
    src: url('fonts/Quicksand_Book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Book-webfont.woff') format('woff'),
         url('fonts/Quicksand_Book-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Book-webfont.svg#QuicksandBook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'QuicksandLight';
    src: url('fonts/Quicksand_Light-webfont.eot');
    src: url('fonts/Quicksand_Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Quicksand_Light-webfont.woff') format('woff'),
         url('fonts/Quicksand_Light-webfont.ttf') format('truetype'),
         url('fonts/Quicksand_Light-webfont.svg#QuicksandLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

// MIXINS ---------------------------------------------------

@mixin menuItemArrow($color: $marzipan){
  content: "";
  float:left;
  margin-top:1em;
  height:0px;
  width:0px;
  border-top: 10px solid transparent;
  border-left: 10px solid $color;
  border-bottom: 10px solid transparent;
  border-right: 10px solid transparent;
}

// BOOTSTRAP MODS -------------------------------------------

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: $inputBackground;
  border: 1px solid $inputBorder;
  @include box-shadow(inset 0 1px 1px rgba(0,0,0,.075));
  @include transition(#{border linear .2s, box-shadow linear .2s});

  // Focus state
  &:focus {
    //border-color: rgba(82,168,236,.8);
    border-color: rgba($brown,.8);
    outline: 0;
    outline: thin dotted \9; /* IE6-9 */
    @include box-shadow(#{inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($marzipan,1)});
  }
}


// STYLES ---------------------------------------------------


/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body{
  background: tint($marzipan, 50);
  font: normal 1em/1.4 'QuicksandBook', Arial, sans-serif;
}

input, button, select, textarea {
  font: normal 1em/1.4 'QuicksandBook', Arial, sans-serif;
}

a{
  color: $black;
  &:hover, &:active, &:visited, &:focus{
    text-decoration: none;
    color: $black;
  }
}

.sidebar{
  float:left;
  background: $marzipan;
  width:250px;
  height: 2000px;
  .logo{
    img{
      padding: 30px;
      display: block;
      box-sizing: border-box;
    }
  }
  ul{
    list-style: none;
    margin:0 30px 25px;
    padding: 0 0 25px 0;
    border-bottom: 1px solid shade($marzipan, 10);
    &:last-child{
      border: none;
    }
    li{
      @include text-shadow(1px 1px 1px rgba(0,0,0,.2));
      a{
        padding: 1.1em 1em 0.7em 1em;
        display: block;
        background: shade($marzipan, 3);
        @include transition-property("background-color, padding");
        @include transition-duration(".25s");
        border-bottom: 1px solid shade($marzipan, 10);
        i{
          margin: -2px 10px 0 0;
        }
        &:hover, &:focus{
          padding-left:1.25em;
          outline: none;
          background: adjust-lightness($yellow, 5);
        }
      }
      &:first-Child{
        a{
          @include border-top-left-radius(5px);
          @include border-top-right-radius(5px);
        }
      }
      &:last-Child{
        a{
          @include border-bottom-left-radius(5px);
          @include border-bottom-right-radius(5px);
          border-bottom: none;
        }
      }
      &.active{
        &:before{
          @include menuItemArrow($marzipan);
        }
      }
    }
  }
  &.secondary{
    background: tint($marzipan, 25);
    padding-top: 116px;
    ul{
      li{
        a{
          background: $marzipan;
          &:hover, &:focus{
            outline: none;
            background: adjust-lightness($yellow, 5);
          }
        }
        &.active{
          &:before{
            @include menuItemArrow(tint($marzipan, 25));
          }
        }
        &.worker{
          a{
            &:after{
              content: "";
              margin-top:-2px;
              width: 1em;
              height: 1em;
              background: tint($brown, 30);
              border: 1px solid $brown;
              float:right;
              @include border-radius(50%);
            }
          }
          &.running{
            a{
              &:after{
                background: tint($green, 50);
                border: 1px solid $green;
              }
            }
          }
          &.error{
            a{
              &:after{
                background: tint($red, 30);
                border: 1px solid $red;
              }
            }
          }
          &.warning{
            a{
              &:after{
                background: tint($yellow, 30);
                border: 1px solid $yellow;
              }
            }
          }
        }
      }
    }
  }
}

.main{
  width: 100%;
  position: absolute;
  padding-left: 500px;
  z-index: -10;
  height: 1000px;
  .header{
    .title{
      margin: 15px 0 0 30px;
      font: normal 4em/1.4 'QuicksandLight', Arial, sans-serif;
      color: shade($brown, 30);
      text-transform: uppercase;
    }
  }
  p{

  }
  a.button{
    @include text-shadow(1px 1px 1px rgba(0,0,0,.2));
    padding: 1em 1em 0.8em 1em;
    display: inline-block;
    background: shade($marzipan, 3);
    @include transition-property("background-color, padding");
    @include transition-duration(".25s");
    @include border-radius(5px);
    margin: .5em 0;
    i{
      margin: -2px 10px 0 0;
    }
    &:hover, &:focus{
      padding-left:1.25em;
      outline: none;
      background: adjust-lightness($yellow, 5);
    }
  }
  h2{
    font: normal 1.5em/1.4 'QuicksandBook', Arial, sans-serif;
    color: shade($brown, 20);
    padding: .5em 0;
    height: 50px;
  }
  .body{
    max-width: 700px;
    margin: 0 30px;
  }
}

// FORMS -----------------------------------

.insetTextField{
  position: relative;
  input[type=text]{
    font-size: 1em;
    height: 3em;
    width: 100%;
    padding: 1.2em 1em .8em 1em;
    background: tint($marzipan, 90);
    border: 1px solid shade($marzipan, 3);
    //box-shadow: none;
    @include border-radius(5px);
  }
  input[type=submit]{
    position: absolute;
    right: 0;
    top: 0;
    height: 3em;
    @include text-shadow(1px 1px 1px rgba(0,0,0,.2));
    padding: 1em 2em;
    display: block;
    background: shade($marzipan, 3);
    border: none;
    @include transition-property("background-color");
    @include transition-duration(".25s");
    @include border-top-right-radius(5px);
    @include border-bottom-right-radius(5px);
    i{
      margin: -2px 10px 0 0;
    }
    &:hover, &:focus{
      outline: none;
      background: adjust-lightness($yellow, 5);
    }
  }
}

// ALERTS -----------------------------------

.alert{
  padding: 1em 1em 0.8em 1em;
  &.alert-success{
    background: tint($green, 60);
    border-color: $green;
    color: shade($green, 30);
  }
  &.alert-info{
    background: tint($blue, 60);
    border-color: $blue;
    color: shade($blue, 30);
  }
  &.alert-error{
    background: tint($red, 40);
    border-color: $red;
    color: shade($red, 50);
    @include text-shadow(0 1px 0 rgba(255, 144, 145, 0.5));
  }
  &.alert-warn{
    background: tint($yellow, 60);
    border-color: $yellow;
    color: shade($yellow, 30);
  }
}

// WELCOME --------------------------

.main{
  &.welcome{
    padding-left: 250px;
  }
}

ul.non-list{
  list-style: none;
  margin: 0;
  li{

  }
}
